body * {
	box-sizing: border-box;
	font-family: Archivo;

}

html, body {
	height: 100%;
}

html {
  background: url('https://pbs.twimg.com/media/DiJRLQpU8AA1yQj.jpg  ' ) no-repeat center fixed ;
   background-size: cover;
   
}

#container {
	height: 100%;
  justify-content: center;
}

h1, h2 {
	color: rgb(239, 13, 38);
	text-align: center;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.8em;
  margin-top: 0;
  padding-top: 40px;
}

#start-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

button {
	display: block;
	min-height: 60px;
	min-width: 60px;
	margin-bottom: 1.5em;
	font-size: 2em;
	border: none;
	background-color: rgb(37, 83, 236);
	color: whitesmoke;
	border-radius: 10px;
	padding: .5em 1em;
	width: 60%;
	max-width: 200px;
}

/*button:hover {
	background-color: rgba(49, 46, 221, 0.795);
	cursor: pointer;
}*/

#question-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

#question {
	margin: 0 auto;
	
}
fieldset, legend{
  margin: 0;
  padding: 0;
}

fieldset {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 10%;
	min-height: 500px;
	border: none;
  color: rgb(239, 13, 38);
  font-style: bold;
  font-size: 1.5em;
}
legend{
  height:0;
  overflow: hidden;
  display:block;
}
label {
	margin-bottom: 1em;
	font-size: 1.5em;
}

.answer {
	width: 1.1em;
	height: 1.1em;
	vertical-align: middle;
}

#js-submit-button {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}


#question-count, #score-count {
	display: inline-block;
	font-size: 1.6em;
  color:white;
}

#score-count {
	float: right;
}

.feedback-page {
	display: flex;
	flex-direction: column;

}

#js-next-button {
	margin: 1em auto;
}

#js-restart-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 10em;
}

@media only screen and (min-width: 360px) {
	#question-count, #score-count {
		display: inline-block;
		font-size: 1.8em;
		margin: auto;
	}

	#score-count {
		float: right;
	}

	h2 {
	font-size: 2em;
	margin-top: 3em;
	}

	label {
		margin-bottom: 2em;
	}
}

@media only screen and (min-width: 768px) {
	.feedback-page img {
		display: block;
		width: 650px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 1190px) {
	.feedback-page h2 {
		width: 650px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}

	form {
		padding: 4em 7em 0;
	}

	#question-count {
		padding: 30px;
    text-align: left;
	}

	#score-count {
		padding-right: 8em;
		padding-bottom: 40px;
    text-align: right;
	}
}
